#layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.outer-wrapper {
  display: flex;
  flex: 1;
  margin-top: 60px;
  height: calc(100vh - 60px);
  width: 100vw;
}

.container.section.section__container {
  flex-grow: 1;
  margin-left: 250px;
  overflow-y: auto;
  background-color: #fff;
}
