/* src/pages/AccountPage/accountPage.css */

.account-page {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.account-page__title {
  text-align: center;
  margin-bottom: 24px;
  color: black;
}

.highlight {
  color: #1976d2;
}

.account-page__forms {
  padding: 16px;
  margin-top: 24px;
  border-radius: 8px;
}

.account-page__forms-inner {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.account-page__form {
  flex: 1 1 0;
  min-width: 300px;
  background-color: #f9f9f9;
  padding: 16px;
  border-radius: 8px;
}
